@use 'sass:color';
@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  /* $primary: #232226,
  $secondary: #BF7D56, */
  $primary: #BF7D56,
  $secondary: #232226,
  $surface: #fff,
  $background: #CFD8DC,
  $error: color-palette.$red-900,
);

// Svelte Typography!
@use '@material/typography/mdc-typography';

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,700;0,800;1,700;1,800&family=Merriweather:ital,wght@0,400;1,300&display=swap");

html,
body {
  background-color: theme.$background;
  /* color: theme.$on-surface; */
}

a {
  color: #BF7D56;
}

a:visited {
  color: color.scale(#BF7D56);
}

/* REDUCED LIGHTNESS FOR VISITED LINKS */
/* a:visited {
  color: color.scale(#BF7D56, $lightness: -35%);
} */
